doctype
html(lang="es")
	head
		title Task 
		meta(name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0")
		link(rel="stylesheet" href="public/css/index.css")
	body
		nav(class="main__nav" id="main__nav-js")
			input(type="text" placeholder="Que deseas recordar?" class="input__write" id="input__write-js")
			button(class="button__send" id="button__send-js") Recordar
		hr(class="line__separator")
		section(class="task__container" id="task__container-js")
			article(class="task__item" id="task__item-js")
				p(class="task__value")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. lorem














				
		script(src="public/js/index.js")

